.container {
  position: fixed;
  width: 480px;
  max-width: 100%;
  min-width: 375px;
  bottom: 0;
  background-color: black;
  height: 52px;
  max-height: 52px;
  z-index: 100;
  margin-left: -10px;
  transition: .3s;

  color: white;
  font-size: 15px;
  margin-top: 10px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;

  &:active {
    opacity: .3;
    transition: .1s;
  }
}